.profile {
  display: flex;
  flex-direction: row;
  margin: 3%;
  font-size: large;

  //   background: var(--mainGrey);

  .left {
    // width: 50%;
    // height: 50%;
    flex: 1;
    .image-container {
      //   width: 400px;
      //   height: 400px;
      //   max-width: 400px;
      //   max-height: 400px;
    }
  }

  .right {
    flex-direction: column;
    // margin: 20px;
    margin: 0 20px 0 20px;
    flex: 2;

    //   margin: 20px 10px 20px 10px;

    .item {
      margin-bottom: 40px;
    }
    // .titles {
    // }
    .work {
      // background: var(--mainGrey);
    }

    .research {
      //   background: var(--mainGrey);
    }

    .organization {
      background: var(--mainGrey);
    }

    .projectLink {
      font-weight: bold;
      font-size: x-large;
    }

    .information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //   flex-wrap: wrap;
      //   justify-content: flex-end;

      .position {
        font-weight: bold;
        font-size: x-large;
        // margin: 10px;
      }

      .sub-information {
        flex-direction: column;
        // margin-right: 10px;
        // text-align: right;
        .company {
          // margin: 10px;
          text-align: right;
        }

        .location {
          margin-left: 10px;
          text-align: right;
        }
      }
    }
  }
  // .s .spans-bottom {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: flex-end;
  // }
}
